<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="/create">criar tarefa</a>
  <% if (todos.length === 0) { %>
    <p>Não há items para serem exibidos</p>
  <% } else { %>
    <ul>
      <% todos.forEach((todo) => { %>
        <li><%= todo.title %> <%= todo.completed %></li>
      <% }) %>
    </ul>
  <% } %>
</body>
</html>
